@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

label {
    width: auto;
    display: inline-block;
    margin-bottom: 15px;
}

form {
    background-color: #F0F8FF;
    border-radius: 2%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

div.buttons {
    margin-top: 15px;
}

button[type="reset"] {
    margin-left: 15px;
}

/* format email input if error occurs */
input[type="email"].error {
    border-color: red;
    background-color: #f8d7da;
}

header div {
    background-color: #00A550;
    padding: 10px;
}

div.title {
    font-size: 40px;
    color: white;
    font-family: Great Vibes;
}

footer {
    margin-top: auto;
    margin-bottom: 25px;
}

footer ul li {
    list-style-type: none;
    display: inline;
    float:  right;
    margin: 0 10px;
}

footer ul li i {
    font-size: 24px;
}

footer span {
    font-weight: bold;
}