<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h2>Login Form</h2>
        <form action="../models/validate_login.php" method="post">
            <div>
                <label for="username">Username:</label><input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password:</label><input type="password" name="password" id="username" required>
            </div>
            <div>
                <label for="userAccount">User Account:</label> <select name="accountType" id="userAccount">
                    <option value="student">Student</option>
                    <option value="lecturer">Lecturer</option>
                    <option value="admin">Admin</option>
                </select><br>
            </div>
            <div>
                Do not have an account?<a href="../index.html">Register here</a>
            </div>
            <div>
                <input type="submit">
                <input type="reset">
            </div>
        </form>
    </main>   
</body>
</html>